[submodule "cmake/Helpers/hunter"]
	path = cmake/Helpers/hunter
	url = https://github.com/ruslo/hunter
[submodule "cmake/Helpers/polly"]
	path = cmake/Helpers/polly
	url = https://github.com/ruslo/polly
[submodule "3rdparty/nng"]
	path = 3rdparty/nng
	url = https://github.com/roscopecoltran/nng
[submodule "3rdparty/nanomsg"]
	path = 3rdparty/nanomsg
	url = https://github.com/roscopecoltran/nanomsg
